@model List<ContactoModel>
@{
    ViewData["Title"] = "listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Listar Contactos
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success">Crear nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> 
                @foreach (var item in Model)
                {
                    <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Correo</td>
                    <td></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


